/********** www.leolink.net (c) Feb 05, 2012 **********/

/********** GENERAL **********/
@font-face {
	font-family: 'MinecraftiaRegular';
	src: url('minecraftia-webfont.eot');
	src: url('minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
		 url('minecraftia-webfont.woff') format('woff'),
		 url('minecraftia-webfont.ttf') format('truetype'),
		 url('minecraftia-webfont.svg#MinecraftiaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}	
body {  
	background: #89DAF7;  
	margin: 0px;
	font-family: MinecraftiaRegular, Courier;
	font-size: 14px;
	color: # 111;
}
a {
	text-decoration: none;
	color: #27A9E6;
}
a:hover {
	color: #89DAF7;
}

/********** LAYOUT **********/
#cloud1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent url(../img/cloud-1.png) repeat-x;  
}
#cloud2 {  
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent url(../img/cloud-2.png) 20px 200px repeat-x;  
}
#wrapper {
	width:100%;
	height: 100%;
	margin: 0px;
}
#header {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
#header-left{
	width: 50%;
	float: left;
}	
#header-right{
	width: 50%;
	float: right;
	overflow: hidden;
}
#content {
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	left: 0px;
	top: 168px;
}
#content-1-left {
	width: 50%;
	height: 40%;
	float: left;
}
#content-1-right {
	width: 50%;
	height: 40%;
	float: right;
}
#content-2-left {
	width: 50%;
	height: 40%;
	float: left;
}
#content-2-right {
	width: 50%;
	height: 40%;
	float: right;
}
#content-3-left {
	width: 50%;
	height: 20%;
	float: left;
}
#content-3-right {
	width: 50%;
	height: 20%;
	float: right;
}
/********** CONTENT **********/
#my-name {
	width: 90%;
	float: right;
	text-align: right;
	margin-bottom: 10px;
	overflow: visible;
	white-space: nowrap;	
}
#my-name h1 {
	width: 100%;
	font-size: 40px;
	line-height: 50%;
	text-align: center;
	overflow: visible;
	margin-top: 0px;
	margin-bottom: 0px;
	white-space: nowrap;
	line-height: normal;
}
#my-name h3 {	
	width: 100%;
	font-size: 22px;
	color: #333;	
	overflow: visible;
	white-space: nowrap;	
	margin-bottom: -5px;
}
#my-name h5 {
	width: 100%;	
	font-size: 15px;	
	text-align: left;
	color: #333;	
	margin-bottom: 10px;
	margin: auto;
}
#news-feed {
	width: 90%;
	height: 90%;
	float: left;
	overflow: auto;		
}
#latest-posts {
	text-align: justify;
	padding-right: 20px;
}
#profile {
	width: 90%;
	height: 90%;
	float: right;
	overflow: auto;		
}
#get-in-touch {
	width: 90%;
	height: 90%;
	float: left;
	overflow: auto;		
}
#foreword{
	width: 90%;
	height: 90%;
	overflow: auto;	
	float: right;
	font-size: 80%;
}	
#foreword .square .square-content{
	font-style: italic;
}
.square {
	width: 100%;
	height: auto;
	overflow: visible;
	border: 2px solid #EEE;
	background: transparent url(../img/squares.png);				
	color: #222;
	padding: 0px;	
	position: relative;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
.square .square-title {
	border-bottom: 2px solid #EEE;
	border-right: 2px solid #EEE;
	width: auto;
	border-top: 0px;
	border-left: 0px;
	padding: 3px 10px;
	background-color: #BBB;
	color: #FFF;
	font-size: 20px;
	display: inline-block;
}
.square .square-content{
	border: 0px;
	border-top: 0px;
	padding: 3px;
	background: transparent;
}
.square .square-content ul {
	list-style: none;
	margin: 0px 0px 0px 10px;
	padding-left: 1.5em;
	text-indent: -1.3em;
	clear: both;
}	
.square .square-content ul li:before {
	content: "\00BB \0020";
}	
.square-content #date {
	clear: both;
	display: inline-block;
	width: 100%;
	text-align: right;
	text-decoration: underline;
	font-size: 80%;
	padding: 0px;
	margin: 0px;
}
